.carousel .slider-wrapper {
    max-width: 300px;
}

.css-187mznn-MuiSlider-root {
    color: #351d35 !important;
}

/* @media only screen and (min-width: 768px) {} */

.claim-section {
    background-color: #ffd4ff;
    display: flex;
    flex-direction: column;
}

.claim-section .row {
    margin: 0;
    padding: 0;
    display: flex;
}

.claim-section .col {
    margin: 0;
    padding: 0;
}

.claim-section .claim-manage-bar {
    width: 100%;
}

.claim-section .claim-manage-bar .row {
    width: 100%;
    display: block;
    float: right;
}

.claim-section .claim-manage-bar p {
    float: right;
    margin: 0;
}

.claim-section .claim-manage-bar .btn {
    float: right;
    background-color: #351d35;
}

.penguin-nft-card {
    display: flex;
    justify-content: center;
    min-width: 150px;
}

.penguin-nft-card .nft-card-wrapper {
    position: relative;
    padding: 0;
    border-radius: 0;
    border: 1px solid #351d35;
    overflow: hidden;
}

.penguin-nft-card .nft-card-wrapper .nft-id {
    position: absolute;
    top: 0;
    left: auto;
    right: 0;
    background-color: #351d35;
    color: white;
    padding: 5px 5px 5px 10px;
    border-bottom-left-radius: 18px;
}

.penguin-nft-card .nft-card-wrapper .stack-status {
    transform: rotate(-45deg);
    background-color: #351d35;
    color: white;
    text-align: center;
    width: 120px;
    padding: 5px;
    position: absolute;
    top: 15px;
    left: -30px;
}

.penguin-nft-card .nft-card-wrapper .stack-btn-wrapper {
    position: absolute;
    top: auto;
    bottom: 10px;
    width: 100%;
}

.stack-btn-wrapper .btn {
    border-radius: 32px;
    width: 50%;
    background-color: #351d35;
    margin: 0 auto;
}

.hashpack-connect-modal {
    background-color: #59567e;
    width: 296px;
    height: fit-content;
    border: 3px solid white;
    padding: 20px 17px;
    position: absolute !important;
    right: 20px !important;
    top: 20px !important;
    left: auto !important;
}

.hashpack-connect-modal .row {
    margin: 0;
}

.hashpack-connect-modal .modal-title {
    color: white;
    font-size: 24px;
    margin: 0;
    font-weight: 700;
}

.hashpack-connect-modal .modal-mini-title {
    color: lightcyan;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
}

.hashpack-connect-modal .hashpack-connect-btn {
    display: flex;
    width: 200px;
    align-items: center;
    justify-content: center;
    border-radius: 0;
    background-color: #4a417f;
}

.hashpack-connect-modal .hashpack-connect-btn:hover {
    background-color: #424062;
}

.hashpack-connect-modal .hashpack-connect-btn img {
    width: 24px;
}

.hashpack-connect-modal .hashpack-connect-btn p {
    margin: 0 0 0 10px;
}

.hashpack-connect-modal .pair-with-code-wrapper {
    width: 100%;
}

.hashpack-connect-modal .pair-with-code-wrapper .form-control {
    height: 46px;
    background-color: transparent;
    color: white;
    font-size: 14px;
    border-radius: 0;
    width: 200px;
    border: 1px solid #4a417f;
}

.hashpack-connect-modal .pair-with-code-wrapper .btn {
    background-color: #4a417f;
    width: 56px;
    border-radius: 0;
    padding: 0;
    margin: 0;
}

.hashpack-connect-modal .pair-with-code-wrapper .btn:hover {
    background-color: #424062;
}

.hashpack-connect-modal .warning-message {
    color: white;
    margin: 0;
    font-weight: 500;
}